<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script th:src="@{/adminlte/bower_components/jquery/dist/jquery.min.js}"></script>
</head>
<body>
User List:
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>sex</th>
        <th>电话</th>
        <th>删除</th>
    </tr>
    <tr th:each="customer: ${customer}">
        <td th:text="${customer.customerid}"></td>
        <td th:text="${customer.customername}"></td>
        <td th:text="${customer.sex}"></td>
        <td th:text="${customer.phone}"></td>
        <td>  <a th:href ="@{/delete(id=${customer.customerid})}" class="shadow">delete</a></td>

    </tr>
</table>
</body>

</html>