<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>酒店预约</title>
    <link th:href="@{/index/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/index/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/index/css/style-customer.css}" rel="stylesheet" type="text/css" media="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script th:src="@{/index/js/date.js}"></script>
    <script th:src="@{/index/js/jquery.min.js}"></script>
    <script th:src="@{/index/js/bootstrap.js}"></script>
    <script th:src="@{/index/js/responsiveslides.min.js}"></script>
    <link rel="stylesheet" th:href="@{/index/css/t-datepicker.css}" href="public/theme/css/t-datepicker.min.css">
    <link rel="stylesheet" th:href="@{/index/css/t-datepicker-main.css}"
          href="public/theme/css/themes/t-datepicker-main.css">
    <script th:src="@{/index/js/t-datepicker.min.js}" src="public/theme/js/t-datepicker.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
        $(document).ready(function () {
            $('.t-datepicker').tDatePicker();
        });
    </script>
    <style type="text/css">
        .shadow {
            text-shadow: 4px 4px 14px #000000;
            font-size: 50px;
        }
    </style>
    <style>
        body {
            text-align: center
        }

        .middiv {
            margin: 0 auto;
            width: 400px;
            height: 100px;
        }

        .midbig {
            margin: 0 auto;
            width: 800px;
            height: 900px;
        }
    </style>
</head>
<body>
<!--header-->
<div class="header">
    <div class="container">
        <div class="header-top">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <h1><a href="/index"><i class="shadow">酒店预约</i></a></h1>
                        </div>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index" class="shadow">主页 <span class="sr-only">(current)</span></a>
                            </li>
                            <li><a href="orderview">我的订单</a></li>
                            <li><a href="customerList" th:if=" ${customer.roleid} =='1'">用户管理</a></li>
                            <li><a href="hotelList" th:if=" ${customer.roleid} =='1'">酒店管理</a></li>
                            <li><a href="register" class="shadow" th:if=" ${customer.customername} =='登录'">注册</a></li>
                            <li tclass="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false" th:text="${customer.customername}"><span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="customerInformationEdit" th:if=" ${customer.customername} !='登录'">信息修改</a>
                                    </li>

                                    <li><a href="login" th:if=" ${customer.customername} =='登录'">登录</a></li>
                                    <li><a href="customerPasswordEdit" th:if=" ${customer.customername} !='登录'">密码修改</a></li>
                                    <li><a href="/logout" th:if=" ${customer.customername} !='登录'">注销</a></li>
                                </ul>
                            </li>


                        </ul>

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

        </div>

        <form action="hotelResult" method="post" th:object="${orderform}">
            <div id="searchbox">
                <br>
                <br>
                <br>
                <tr>
                    <th>目的地</th>
                    <input type="text" name="where">
                </tr>
                <br>
                <br>
                <tr>
                    <th>入住时间</th>
                    <input type="date" th:field="${orderform.arrivetime}">
                </tr>

                <tr>
                    <th>离开时间</th>
                    <input type="date" th:field="${orderform.lefttime}">
                </tr>
                <br>
                <br>
                <tr>
                    <th><h3>住客数</h3></th>
                    <td>
                        <ul>
                            <li>
                                <h5>成年人人数</h5>
                                <input type="number" min="0">
                            </li>
                            <li>
                                <h5>儿童人数</h5>
                                <input type="number" min="0">
                            </li>
                        </ul>
                    </td>

                </tr>
                <br>

                <tr>
                    <th>房间数</th>
                    <td>
                        <select size="1" name="roomNum">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>酒店星级</th>
                    <td>
                        <select size="1" name="hotelclass">
                            <option value="0">不限</option>
                            <option value="5">五星级</option>
                            <option value="4">四星级</option>
                            <option value="3">三星级</option>
                            <option value="2">二星级</option>
                            <option value="1">一星级</option>
                        </select>
                    </td>
                </tr>
                <br>
                <br>
                <tr>
                    <h4>
                        <th>关键词</th>
                        <input type="text" name="word">
                    </h4>

                </tr>

                <br>
                <br>


                <button type="submit" class="btn btn-primary btn-block btn-flat">确认</button>
            </div>
        </form>

        <div class="middiv">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                        <h3 class="shadow"><i>精选 </i><span><i>酒店</i></span></h3>
                    </li>
                    <li>
                        <h3 class="shadow"><i>理想 </i><span><i>折扣</i></span></h3>
                    </li>
                    <li>
                        <h3 class="shadow"><i>安歇 </i><span><i>良处</i></span></h3>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!--header-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/date.js"></script>
<script type="text/javascript">
    $('.select-time').hotelDate();
</script>

显示IP地址为 118.114.231.164 的位置信息,<span id="idJsShow"></span>
<script>
    function jsShow(location){
        document.getElementById("idJsShow").innerHTML = location;
    }
</script>
<script src="/index/js/jsFunction.jsp?callback=jsShow&ip=125.10.10.10"></script>
</body>
</html>



