<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>酒店预约</title>
    <link th:href="@{/index/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/index/css/style.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/index/css/style-customer.css}" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script th:src="@{http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/index/js/bootstrap.js}"></script>
    <script th:src="@{/index/js/responsiveslides.min.js}"></script>
    <style type="text/css">
        .shadow {
            text-shadow: 4px 4px 14px #000000;
            font-size: 50px;
        }
    </style>
    <style type="text/css">
        .dark{
            color: #000000
        }

    </style>
    <style>
        body {
            text-align: center
        }

        .middiv {
            margin: 0 auto;
            width: 400px;
            height: 100px;
        }

        .midbig {
            margin: 0 auto;
            width: 800px;
            height: 900px;
        }
        </style>
        <script>
         $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
        });
        });
        </script>
          <style type="text/css">
                                          .shadow {
                                    text-shadow: 4px 4px 14px #000000;
                                    font-size: 50px;
                                }
    </style>





</head>
<body>



<!--header-->
<div class="orderview">
    <div class="container">
        <div class="header-top">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <h1><a href="/index" ><i class="shadow">酒店预约</i></a></h1>
                        </div>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li ><a href="index" class="shadow">主页 <span class="sr-only">(current)</span></a></li>
                            <li><a href="search" class="shadow">搜索</a></li>
                            <li><a href="register" class="shadow" th:if=" ${customer.customername} =='登录'">注册</a></li>
                            <li tclass="dropdown" class="active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"  th:text="${customer.customername}" ><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="customerInformation" th:if=" ${customer.customername} !='登录'" >我的信息</a></li>
                                    <li><a href="customerList" th:if=" ${customer.roleid} =='1'">用户管理</a></li>
                                    <li><a href="hotelList" th:if=" ${customer.roleid} =='1'">酒店管理</a></li>
                                    <li><a href="/logout" th:if=" ${customer.customername} !='登录'">注销</a></li>
                                </ul>
                            </li>


                        </ul>

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div id="whole">
                <br>
                <br>
                <br>
                <div class="middiv">
                    <h1>您的订单</h1>

                </div>
                <div class="midbig">
                    <h2>
                        <table border="1" cellspacing="10">
                            <tr>
                                <td>订单号</td>
                                <td>酒店编号</td>
                                <td>客户姓名</td>
                                <td>入住时间</td>
                                <td>离开时间</td>
                                <td>价格</td>
                            </tr>
                            <tr th:each="order: ${orderForms}">
                                <td th:text="${order.orderformid}">OrderID</td>
                                <td th:text="${order.hotelid}">HotelID</td>
                                <td th:text="${customer.customername}">CustomerID</td>
                                <td th:text="${order.arrivetime}">ArriveTime</td>
                                <td th:text="${order.lefttime}">LeftTime</td>
                                <td th:text="${order.price}">Price</td>
                            </tr>
                        </table>
                    </h2>
                </div>



            </div>
        </div>




    </div>
</div>
</div>
<!--header-->


</body>
</html>
