<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script th:src="@{/adminlte/bower_components/jquery/dist/jquery.min.js}"></script>
</head>
<body>
User List:
<table border="1">
    <tr>
        <th>名字</th>
        <th>房间数目</th>
        <th>地址</th>
        <th>城市</th>
        <th>网址</th>
        <th>电话</th>
        <th>邮编</th>

    </tr>
    <tr th:each="hotel: ${hotels}">
        <td th:text="${hotel.hotelname}"></td>
        <td th:text="${hotel.numroom}"></td>
        <td th:text="${hotel.address}"></td>
        <td th:text="${hotel.city}"></td>
        <td th:text="${hotel.url}"></td>
        <td th:text="${hotel.tel}"></td>
        <td th:text="${hotel.zipcode}"></td>


    </tr>
</table>
</body>

</html>